@import "cyborg/variables";
@import "bootstrap/scss/bootstrap";
@import "cyborg/bootswatch";

$link-color: #ffffff;

.about .skills-content {
    @include font-size(20px);
    line-height: 1.8;
  }
//Responsive Font Size
@media (max-width: 600px) {
    .about .skills-content {
        @include font-size(16px);
        line-height: 1.6
      }
}

ul.no-bullets {
  list-style-type: none
}


@import "cyborg/variables";
@import "bootstrap/scss/bootstrap";
@import "cyborg/bootswatch";